.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/eslint.config.mjs
**/.vscode-test.*

# Test files
schema.urpc

# Temp
temp/
tmp/

# Devcontainer
.devcontainer/**

# Unbundled files
node_modules/
src/
